*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}
/* main section start */
main{
    width: 75%;
    margin: auto;
}
/* main section start */
/* young obama section style start */
.obama-container{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 100px;
    margin-top: 20px;
   
} 

.obama-title{
    font-size: 75px;
    color: rgb(109, 106, 106);
    height: 150px;
}
.obama-about{
    font-size: 32px;
    height: 60px;
    margin-left: 15px;
}
.obama-img{
   width: 350px;
   height: 400px;
   
}
.obama-item{
   width: 50%;
}
.obama-item ul{
    margin-left: 20px;
}
.obama-item ul>li{
    color: gray;
    line-height: 22px;
    
}
/* young obama section style end */
/* about section style start */
.about-container{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 120px;
  
}
.about-item{
    width: 40%;
}
.about-description{
    width: 92%;
   height: 90px;
   font-size: 16px;
   margin: 0 18px;
   color: rgb(92, 90, 90);
}
/* about section style end */

/* what i do section style start */
.section-title{
    margin-top: 120px;
}
.what-i-do-container{
    display: flex;
    gap: 35px;
     justify-content: start;
}
.what-i-do-item{
  border: 2px solid rgb(145, 145, 145);
  width: 25%;
  height: 240px;
  border-radius: 16px;
  padding: 10px 15px;
}
.icon{
   width: 60px;
}

/* what i do section style end */
/* footer section style start */
footer{
    width: 75%;
    margin: auto;
}
.copy{
    margin: 50px 0;
}
small{
   color: rgb(95, 90, 90);
   font-weight: bolder;
}
/* footer section style end */